%h3.txt Hey Gurl.. What do you want ?

.row
  .large-4-columns
    = form_tag '/message', :remote => true do
      = text_field_tag :number, nil, :autofocus => true, :placeholder => 'Your Phone Number'
      = text_field_tag :name, nil, :autofocus => true, :placeholder => 'Name'
      = select_tag 'texts', options_for_select(@texts.map{ |a| [a, a] })
      %br
      %br
      = submit_tag 'Share the love..', :class => 'button_nav_show'
  .large-8-columns



