<div class="row">
  <div class="large-12 columns">
    <div class="slider-wrapper">
      <div id="slider" class="nivoSlider">
        <%= image_tag("bv.jpg") %>
     <!--    <%= image_tag("drive.jpg", :title => "#htmlcaption") %>
         <%= image_tag("garage.jpg") %>
         <%= image_tag("gs.jpg") %> -->
      </div>
    </div>
   <%= yield %>
  </div>
</div>
